// COLOR
$color-primary: #0675c2;
$color-secondary-dark: #ff7730;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-muted: #949494;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

$alert-color: #0675c2;
$alert-bgcolor: #c7eaf8;

// BORDER
$border-line: #e1e8ed solid 1px;

// DANGER
$danger-border: #dc3545;
$danger-background: rgba(255, 240, 245, .7);

// FONT
$default-font-size: 1.6rem;

// RADIUS
$border-radius: 3px;

$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '../webfonts';

//body
$body-margin: 2rem auto;
$body-font-family: 'Open Sans', sans-serif;

//navigation
$navbar-border-bottom: #e1e8ed solid 1px;

// FONT
$default-font-size: 1.3335rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//card
$card-margin: 1rem 0;
$card-margin-bottom: 0.25rem;
$card-border: #e1e8ed solid 1px;


//danger
$danger-border: #dc3545;
$danger-background: rgba(255, 240, 245, .7);

//form
$form-border: #e1e8ed solid 1px;

//footer
$footer-padding: .5rem 1rem;
$footer-border-top: 0.0075em solid #ddd6d6;
$footer-background-color: #ebebeb;

